.header {
  background-color: white;
  position:sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;

  .logo-container {
    height: 100%;
    width: 70px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    &.active{color: green;}
    }
  }
}
