body{
  padding: 20px 60px;

a{
  text-decoration: none; 
  color: black;

&.option{
  border-bottom: 3px solid white;
  transition: all 0.75s ease-in;
  text-transform: uppercase;

&:hover{
   border-bottom: 3px solid gray;
   cursor: pointer;
 }
}
}
}